

<section class="container no-margin" id="comparator">
	
	<!-- Comparador Nuevo -->
	<div class="panel panel-transparent panel-searchbar-home">

		<div class="compras-transparentes comparador-transparente"></div>
		<p class="text-center">Revisa en detalle y compara el gasto de cada ministerio por categoría con nuestro Comparador. Selecciona los organismos públicos que deseas comparar y luego una categoría de comparación.</p>
		
		<!-- Paso 1 -->
		<div class="separator"></div>
		<div class="comparator-step" id="firststep">
			<h2><span>1</span>Selecciona los ministerios que deseas comparar</h2>
			<div class="selector-group">
				<div class="row">
					<div class="col-sm-6 flex-wrapper">
						<label>Organismo 1</label>
						<select class="selector flat standard flex-item min-1" data-placeholder="Selecciona un organismo público">
							<option></option>
							<% for(var r=0;r<min.ministerios.length;r++){
								if(data1.ministerio!=min.ministerios[r].code){%>
									<option value=<%-min.ministerios[r].code%>><%-min.ministerios[r].name%></option>
								<%}
							}%>
						</select>
					</div>
					<div class="col-sm-6 flex-wrapper">
						<label>Organismo 2</label>
						<select class="selector flat standard flex-item min-2" disabled  data-placeholder="Selecciona un organismo público">
							<option></option>
							<% for(var r=0;r<min.ministerios.length;r++){
								if(data1.ministerio!=min.ministerios[r].code){%>
									<option value=<%-min.ministerios[r].code%>><%-min.ministerios[r].name%></option>
								<%}
							}%>
						</select>
					</div>
				</div>
			</div>
			<div class="them-buttons">
				<button class="btn btn-next pull-right disabled" onclick="minMinGetCat();" disabled>Siguiente<i class="fa fa-arrow-right"></i></button>
			</div>
		</div>

		<!-- Paso 2 -->
		<div class="comparator-step hidden" id="secondstep">
			<h2><span>2</span>Selecciona la categoría a comparar</h2>
			<div class="selector-group">
				<div class="row">
					<div class="col-sm-3 flex-wrapper"></div>
					<div class="col-sm-6 flex-wrapper">
						<label>Categoría</label>
						<select class="cat-step-2"  data-placeholder="Selecciona una categoría">
							<option></option>
							
						</select>
					</div>
					<div class="col-sm-3 flex-wrapper"></div>
				</div>
			</div>
			<div class="them-buttons">
				<button class="btn btn-prev pull-left"><i class="fa fa-arrow-left"></i>Volver</button>
				<button class="btn btn-next btn-comparador pull-right disabled" disabled="">Siguiente<i class="fa fa-arrow-right"></i></button>
			</div>
		</div>

		<!-- Paso Resultados -->
		<div class="comparator hidden">
			
				<div class="comparator-settings">
					<div class="comparator-list">
						<div class="comparator-item selector-thingy">
							<div class="correlative min-parent">
								<select class="selector flat full-width standard min-selector" data-placeholder="Selecciona un organismo" id="add_min1" name="add_min1" onchange="minMinGetCat2();">
									<% for(var r=0;r<min.ministerios.length;r++){%>
											<option value=<%-min.ministerios[r].code%>><%-min.ministerios[r].name%></option>
									<%}%>
									
								</select>
							</div>
							<div class="correlative min-parent">
								<select class="selector flat full-width standard min-selector" data-placeholder="Y con quién compararás" id="add_min2" name="add_min2" onchange="minMinGetCat2();">
									<% for(var r=0;r<min.ministerios.length;r++){%>
											<option value=<%-min.ministerios[r].code%>><%-min.ministerios[r].name%></option>
									<%}%>
								</select>
							</div>
							<div class="correlative">
								<select class="selector flat full-width standard" data-placeholder="Una categoría de comparación" id="add_item" name="add_item">
									
								</select>
							</div>
							<div class="correlative">
								<!-- <btn class="btn btn-default btn-compras-transparentes"type="submit" name="submit" value="Submit" id="submit_compare">Comparar</btn> -->
								 <button type="button" class="btn btn-default btn-comparador btn-compras-transparentes" id="">Comparar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="comparator-results">
						<div class="comparator-settings">
							<div class="comparator-list ltblue-back">
								<div class="comparator-item">
								
									<div class="correlative flex-reverse">
									 	<i class="fa fa-angle-double-right"></i>
										<h6 class="text-right no-border">
											<p id="ministerio_option_1"><%-data1.ministerio_nombre%></p>
										</h6>
									</div>
									<div class="correlative">
					
										<i class="fa fa-angle-double-left"></i>
										<h6 class="no-border">
											<p id="ministerio_option_2"><%-data2.ministerio_nombre%></p>
										</h6>
									</div>
								</div>
							</div>
							<div class="comparator-list ltblue-box">
								<div class="comparator-item">
									<div class="correlative">
										<h6 class="no-border item-option">
											<p id="categoria_comparador"><%-data2.categoria_nombre%></p>
											<p id="item_option"></p>
										</h6>
									</div>
								</div>
							</div>
						</div>	
						<ul class="list-unstyled comparator-list">
							<li class="comparator-item grey5">
								<div class="correlative flex-reverse">
									<h6 class="text-right">									
										<p class="total-dinero" data-min="1"></p>
										<p>total de dinero otorgado en licitaciones</p>
									</h6>
								</div>
								<div class="criteria" >
									<div class="rounded-thing">
										<i class="fa fa-usd"></i>
									</div>
									<span>Dinero Total</span>
								</div>
								<div class="correlative">
									<h6>
										<p class="total-dinero" data-min="2"></p>
										<p>total de dinero otorgado en licitaciones</p>
									</h6>
								</div>
							</li>
							<li class="comparator-item grey4">
								<div class="correlative flex-reverse">
									<h6 class="text-right">									
										<p class="valor-promedio" data-min="1"></p>
										<p>valor promedio por licitacion</p>
									</h6>
								</div>
								<div class="criteria" >
									<div class="rounded-thing">
										<i class="fa fa-balance-scale"></i>
									</div>
									<span>Valor Promedio</span>
								</div>
								<div class="correlative">
									<h6>
										<p class="valor-promedio" data-min="2"></p>
										<p>valor promedio por licitacion</p>
									</h6>
								</div>
							</li>
							<li class="comparator-item grey3">
								<div class="correlative flex-reverse">
									<h6 class="text-right">
										<p class="licitacion-ad" data-min="1"></p>
										<p>licitaciones adjudicadas</p>
									</h6>
								</div>
								<div class="criteria" >
									<div class="rounded-thing">
										<i class="fa fa-file-text-o"></i>
									</div>
									<span>Licitaciones</span>
								</div>
								<div class="correlative">
									<h6>
										<p class="licitacion-ad" data-min="2"></p>
										<p>licitaciones adjudicadas</p>
									</h6>
								</div>
							</li>
							<li class="comparator-item grey2">
								<div class="correlative flex-reverse">
									
									<h6 class="text-right">
									
										<p class="proveedor-fa" data-min="1"></p>
										<p>proveedores favorecidos</p>
									</h6>
								</div>
								<div class="criteria" >
									<div class="rounded-thing">
										<i class="fa fa-truck"></i>
									</div>
									<span>Proveedores</span>
								</div>
								<div class="correlative">
									
									<h6>
										<p class="proveedor-fa" data-min="2"></p>
										<p>proveedores favorecidos</p>
									</h6>
								</div>
							</li>
						</ul>
				</div>
			
		</div>
	</div>

</section>
<script type="text/javascript">
$(function(){
	$("#firststep .min-1").on("change", function(){
		
		/* habilita todos los min2 */
		$(".min-2").attr("disabled",false);
		$(".min-2 option").each(function(i, o){$(this).attr("disabled", false)});
		
		/* Inactiva el min_2 */
		$(".min-2 option[value='"+$(this).val()+"']").attr("disabled", "disabled");

		/* Cambia el valor en el min1 en el paso 3 */
		$("#add_min1").val($(this).val()).trigger("change");
	});

	$(".min-2").on("change", function(){
		$("#add_min2").val($(this).val()).trigger("change");	
	});

	$(".cat-step-2").on("change", function(){
		$("#add_item").val($(this).val()).trigger("change");
	});

	$(".btn-comparador").on("click", function(){

		var params = {};
		$(".se-pre-con").show();

		params.min1 = $("#add_min1").val();
		params.min2 = $("#add_min2").val();
		params.item = $("#add_item").val();

		$.ajax({
			url : "/comparar_mins" ,
			data : params,
			dataType : "Json",
			type : "GET",
			success : function(r)
			{
				
				console.log(r);

				$(".winning").each(function(i,obj){
					$(this).removeClass("winning");
				});

				if(r.min1 != null && r.min2 != null)
				{

					$("#ministerio_option_1").text(r.min1.ministerio_nombre);
					$("#categoria_comparador").text(r.min1.categoria_nombre);
					$("#ministerio_option_2").text(r.min2.ministerio_nombre);

					//Dinero Total
					if(r.min1.monto_total == 0 && r.min2.monto_total == 0)
					{
						$(".total-dinero[data-min='1']").text(r.min1.monto_total);
						$(".total-dinero[data-min='2']").text(r.min2.monto_total);
					}
					else
					{
						if(r.min1.monto_total > r.min2.monto_total)
						{
							$(".total-dinero[data-min='1']").text("$" + r.min1.monto_total.formatNumber(0,",", "."));
							$(".total-dinero[data-min='1']").parent().addClass("winning");
							$(".total-dinero[data-min='2']").text("$" + r.min2.monto_total.formatNumber(0,",", "."));
						}else
						{
							$(".total-dinero[data-min='1']").text("$" + r.min1.monto_total.formatNumber(0,",", "."));
							$(".total-dinero[data-min='2']").text("$" + r.min2.monto_total.formatNumber(0,",", "."));
							$(".total-dinero[data-min='2']").parent().addClass("winning");				
						}
					}

					//Valor Promedio
					if(r.min1.monto_promedio == 0 && r.min2.monto_promedio)
					{
						$(".valor-promedio[data-min='1']").text(r.min1.monto_promedio);
						$(".valor-promedio[data-min='2']").text(r.min2.monto_promedio);
					}
					else
					{
						if(r.min1.monto_promedio > r.min2.monto_promedio)
						{
							$(".valor-promedio[data-min='1']").text("$" + r.min1.monto_promedio.formatNumber(0,",", "."));
							$(".valor-promedio[data-min='1']").parent().addClass("winning");
							$(".valor-promedio[data-min='2']").text("$" + r.min2.monto_promedio.formatNumber(0,",", "."));
						}else
						{
							$(".valor-promedio[data-min='1']").text("$" + r.min1.monto_promedio.formatNumber(0,",", "."));
							$(".valor-promedio[data-min='2']").text("$" + r.min2.monto_promedio.formatNumber(0,",", "."));
							$(".valor-promedio[data-min='2']").parent().addClass("winning");
						}
					}

					//Licitaciones adjudicadas
					if(r.min1.n_licitaciones_adjudicadas == 0 && r.min2.n_licitaciones_adjudicadas)
					{
						$(".licitacion-ad[data-min='1']").text(r.min1.n_licitaciones_adjudicadas);
						$(".licitacion-ad[data-min='2']").text(r.min2.n_licitaciones_adjudicadas);
					}
					else
					{
						if(r.min1.n_licitaciones_adjudicadas > r.min2.n_licitaciones_adjudicadas)
						{
							$(".licitacion-ad[data-min='1']").text(r.min1.n_licitaciones_adjudicadas.formatNumber(0,",", "."));
							$(".licitacion-ad[data-min='1']").parent().addClass("winning");
							$(".licitacion-ad[data-min='2']").text(r.min2.n_licitaciones_adjudicadas.formatNumber(0,",", "."));
						}else
						{
							$(".licitacion-ad[data-min='1']").text(r.min1.n_licitaciones_adjudicadas.formatNumber(0,",", "."));
							$(".licitacion-ad[data-min='2']").text(r.min2.n_licitaciones_adjudicadas.formatNumber(0,",", "."));
							$(".licitacion-ad[data-min='2']").parent().addClass("winning");
						}
					}

					//Proveedores
					if(r.min1.n_proveedores == 0 && r.min2.n_proveedores)
					{
						$(".proveedor-fa[data-min='1']").text(r.min1.n_proveedores);
						$(".proveedor-fa[data-min='2']").text(r.min2.n_proveedores);
					}
					else
					{
						if(r.min1.n_proveedores > r.min2.n_proveedores)
						{
							$(".proveedor-fa[data-min='1']").text(r.min1.n_proveedores.formatNumber(0,",", "."));
							$(".proveedor-fa[data-min='2']").text(r.min2.n_proveedores.formatNumber(0,",", "."));
							$(".proveedor-fa[data-min='1']").parent().addClass("winning");
						}else
						{
							$(".proveedor-fa[data-min='1']").text(r.min1.n_proveedores.formatNumber(0,",", "."));
							$(".proveedor-fa[data-min='2']").text(r.min2.n_proveedores.formatNumber(0,",", "."));
							$(".proveedor-fa[data-min='2']").parent().addClass("winning");
						}
					}
				}
				// else {
				// 	$( '.comparator-list' ).append('<div class="alert alert-danger" role="alert">No hay datos</div>');
				// }

				$(".se-pre-con").hide();
				
			}
		});

	});

});
</script>