<script type='text/javascript'>
  var data =<%-JSON.stringify(data)%>
  var n_item =<%-JSON.stringify(data.extra.n_licitaciones)%>;
  var ele =<%-JSON.stringify(code)%>;
  var dat1;
</script>

<div class="container">
	<div class="row">
			
<!-- 		<div class="col-md-4 pull-right pull-resp">
			<div class="panel panel-color fich">

				<div class="panel-heading no-margin">
					<h5>Información de Proveedor</h5>
				</div>

				<div class="panel-body no-margin">
					<div>
						<span class="info-tag">Proveedor</span>
						<div>
							<h5 class="bigger"><%-data.nombre%></h5>
							<ul class="list-unstyled">
								<li>Código: <%-data.id%></li>
								<li>RUT: <%-data.rut%></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div class="col-md-12">
			<div class="panel panel-default stats">
			
				<% include embedeitor %>
				
				<!--==============-->
				<!-- Estadísticas -->
				<!--==============-->

				<div class="panel-body">
					

					<div class="legend">
						<i class="fa fa-truck back-icon"></i>
						<h4 class="super-title duper"><i class="fa fa-truck"></i>Ficha de <strong>Proveedor</strong></h4>
						<h3 class="bigger"><%-data.nombre%></h3>
						<span>Código: <%-data.id%></span>
						<span>RUT: <%-data.rut%></span>
						<p><span><i class="fa fa-info-circle"></i>Información de licitaciones y estadísticas recopilada desde Enero de 2013</span></p>
					</div>


					<!-- Estadística Sumario -->
					<div class="panel panel-inverted">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<span class="numformat value clp"><%-data.extra.monto_adjudicado%></span>
									<p>Monto total adjudicado</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="numformat value"><%-data.extra.n_licitaciones%></span>
									<p>cantidad de licitaciones ganadas</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--=============================-->
				<!-- Licitaciones más cuantiosas -->
				<!--=============================-->

				<!-- Carga si los datos vienen vacíos -->
				<%if(data.extra.top_licitaciones.length == 0){  %>

					<div class="panel-body">

						<div class="legend">
							<h4>Licitaciones más cuantiosas</h4>
						</div>

						<div class="flex-wrapper daslaf">
							<ul class="list-unstyled filter-list transparent no-filters">
								<li class="text-center no-filters"><i class="fa fa-frown-o"></i> ¡Oops! No hay información asociada</li>
							</ul>
						</div>

					</div>
					
				<% }
				
				else {%>
				<!-- Carga si viene correcto -->
				<div class="panel-body">
					<div class="legend">
						<h4>Licitaciones más cuantiosas </h4>
						<p><span><i class="fa fa-info-circle"></i>Licitaciones en las que el proveedor se ha visto más beneficiado desde Enero de 2013</span></p>
					</div>

					<div class="row" id="licmascuantiosas">
						<div class="col-md-6">
							<table class="table ">
								<thead>
									<tr>
										<td>Título</td>
										<td>Monto</td>
									</tr>
								</thead>
								<tbody>
									<% 

									var tt = 10;
								
									if(data.extra.top_licitaciones.length < tt){
										tt = data.extra.top_licitaciones.length;
									}

									for(var d=0; d<tt; d++){
									
										if(d==0){ 

									%>

										<tr class="active licitacion" id=<%-d%> onclick="magia(this);" >
											<td><%-data.extra.top_licitaciones[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_licitaciones[d].monto_total%></span></td>
										</tr>

									<% }
									else{ %>

										<tr class="licitacion" id=<%-d%> onclick="magia(this);" >
											<td><%-data.extra.top_licitaciones[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_licitaciones[d].monto_total%></span></td>
										</tr>
									<%}%><!-- Cierre else -->
									
									<%}%><!-- Cierre for -->															
								</tbody>
							</table>
						</div>


						<div class="col-md-6">
							
							<div class="panel panel-inverted panel-drkblue">
								
								<div class="panel-heading">
									<span class="info-tag">Título licitación</span>

									<div>
										<h4 class="collapsable-text"><i class="fa fa-angle-double-right"></i><em id="nombre_lic"><%-data.extra.top_licitaciones[0].nombre%></em></h4>
										<span>Código: <span id="code_lic"><%-data.extra.top_licitaciones[0].codigo%></span></span>
									</div>
								</div>
								<div class="panel-body">
									

									<div class="row">
										<div class="col-md-12">
											<span class="numformat value clp" id="monto_lic"><%-data.extra.top_licitaciones[0].monto_total%></span>
											<p>monto total de licitación</p>
										</div>
										<div class="col-md-12">
											<span class="numformat value clp" id="monto_lic_pro"><%-data.extra.top_licitaciones[0].monto_adjudicado%></span>
											<p>monto adjudicado por este proveedor</p>
										</div>
									</div>
									
								</div>

								<div class="panel-footer transparent no-border">
									<small><a id="link_lic" href=<%-"/file?type=licitacion&code="+data.extra.top_licitaciones[0].codigo %>>Ir a ficha de licitación <i class="fa fa-arrow-circle-right"></i></a></small>
								</div>

							</div>
						</div>
					</div>
				</div>

				<% } %>


				<!-- Compradores Top -->
				<!-- <div class="panel-body">
					
					<div class="legend">
						<h4>Compradores top</h4>
						<p>Lista de organismos públicos que más compran a este proveedor desde Enero de 2013 </p>
					</div>

					<div class="row" id="provmasbeneficiados"> -->
						<!-- Lista de proveedores -->
						<!-- <div class="col-md-6">
							<table class="table postulant-list clickable-table">
								<thead>
									<td>Nombre</td>
									<td>Total facturado</td>
								</thead>
								<tbody>
									<tr class="active">
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>

									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>
									<tr>
										<td>Hospital de Til-Til</td>
										<td><span class="clp">45.000.000</span></td>
									</tr>																					
								</tbody>
							</table>
						</div> -->

						<!-- Show de organismo seleccionado -->
						<!-- <div class="col-md-6">
							
							<div class="panel panel-inverted panel-drkblue">
								<div class="panel-heading">
									<span class="info-tag">Nombre Organismo</span>
							
									<div>
										<h4 class="collapsable-text"><i class="fa fa-angle-double-right"></i>Hospital de Til-Til</h4>
										<span>Unidad: Hospital de Til-Til</span>
										<span class="slash">RUT: 76.242.192-5</span>
										<p><small>Av. Los Acacios 14164, Til-Til, Región Metropolitana</small></p>
									</div>
								</div>

								<div class="panel-body">							

									<div class="row">
										<div class="col-md-12">
											<span class="numformat value clp">500000000</span>
											<p>Gasto total productos comprados</p>
										</div>
										<div class="col-md-12">
											<span class="numformat value clp">1250000</span>
											<p>Monto trasado con este proveedor</p>
										</div>
										<div class="col-md-12">
											<span class="value">2,5%</span>
											<p>Porcentaje de total gastado por organismo con este proveedor</p>
										</div>
									</div>
									
									<br>

								</div>

								<div class="panel-footer transparent no-border">
									<small><a href="#">Ir a ficha de organismo <i class="fa fa-arrow-circle-right"></i></a></small>
								</div>

							</div>
						</div>
					</div>
				</div> -->

				<div class="panel-body">
					<div class="legend">
						<h4>Todas las licitaciones</h4>
						<p><span><i class="fa fa-info-circle"></i>Lista de todas las licitaciones que ha ganado este proveedor desde Enero de 2013</span></p>
					</div>

					<div class="row">
						<div class="col-sm-12" style="position: relative;">
							<div class="se-pre-con-2" ></div>
							<table class="table postulant-list todas-licitaciones" >
								<thead>
									<td>Nombre</td>
									<td>Código</td>
									<td>Monto Adjudicado</td>
									<td>Monto Total</td>
									<td>Acción</td>
								</thead>
								<tbody id="liclist">
								</tbody>
							</table>
						</div>
						<br>
						<!--<div class="col-sm-12">
							<div class="pull-left">
								<p class="pagination-text">
								<%var jj=10;
									if (jj>data.extra.n_licitaciones)
										jj=data.extra.n_licitaciones;%>
								Viendo <span id="gat"><%-jj%></span> de <span><%-data.extra.n_licitaciones%></span> resultados
								</p>
							</div>
								
						</div> -->
					</div>
					<!-- <div id="licpropag"></div>-->
				</div>
			</div>
		</div>
	</div>	
</div>


<script type="text/javascript" >

	var tabla	= $(".todas-licitaciones").dataTable({
			"language" : CONST.dataTableLenguage,
			"bDeferRender": true,
            "sPaginationType": "full_numbers"
		});
	
	$(function(){
			getListAllLicProve(ele);
	});
</script>