<script type='text/javascript'>
  var data =<%-JSON.stringify(data)%>
</script>

<div class="container">
	<div class="row">
			
		<div class="col-md-4 pull-right pull-resp">
			<div class="panel panel-color fich">

				<div class="panel-heading no-margin">
					<h5>Información de Organismo</h5>	
				</div>

				<div class="panel-body no-margin">
					<div>
						<span class="info-tag">Organismo</span>
						<div>
							<h5><%-data.nombre_comprador%></h5>
							<ul class="list-unstyled">
								<li>Código: <%-data.codigo_comprador%></li>
							</ul>
						</div>							
					</div>

					<div>
						<span class="info-tag">Información Unidad</span>
						<div>
							<h5><%-data.nombre_unidad%></h5>
							<ul class="list-unstyled">
								<li>Unidad: <%-data.codigo_unidad%></li>
								<li>RUT: <%-data.rut_unidad%></li>
								<li><%-data.direccion_unidad%>, <%-data.comuna_unidad%>, <%-data.region_unidad%></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-default stats">

				<% include embedeitor %>
				
				<!--==============-->
				<!-- Estadísticas -->
				<!--==============-->				

				<div class="panel-body">
					
					<div class="legend">
						<h4>Estadísticas</h4>
						<p>Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>
					</div>
					<div class="panel panel-inverted">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<span class="numformat value clp">40000000</span>
									<p>gasto total en productos comprados</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="numformat value">1000</span>
									<p>cantidad de licitaciones publicadas</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="numformat value">1000</span>
									<p>cantidad de licitaciones adjudicadas</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="numformat value clp">40000</span>
									<p>monto promedio de gasto por licitación</p>
								</div>
								<div class="col-md-6 col-sm-6">
									<span class="numformat value">78</span>
									<p>proveedores beneficiados</p>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!--=============================-->
				<!-- Licitaciones más cuantiosas -->
				<!--=============================-->

				<!-- Carga si los datos vienen vacíos -->
				<%if(data.extra.top_licitaciones.length == 0){  %>

					<div class="panel-body">

						<div class="legend">
							<h4>Licitaciones más cuantiosas</h4>
						</div>

						<div class="flex-wrapper daslaf">
							<ul class="list-unstyled filter-list transparent no-filters">
								<li class="text-center no-filters"><i class="fa fa-frown-o"></i> ¡Oops! No hay información asociada</li>
							</ul>
						</div>

					</div>
					
				<% }
				
				else {%>
				
				<!-- Carga si viene correcto -->
				<div class="panel-body">
					<div class="legend">
						<h4>Licitaciones más cuantiosas</h4>
						<p>Lista de licitaciones más cuantiosas desde Enero de 2013</p>
					</div>
					<div class="row" id="licmascuantiosas">
						<div class="col-md-6">
							<table class="table postulant-list clickable-table">
								<thead>
									<tr>
										<td>Título</td>
										<td>Monto</td>
									</tr>
								</thead>
								<tbody>
									<% 	

									var tt = 10;
									
									if(data.extra.top_licitaciones.length < tt){
										tt = data.extra.top_licitaciones.length;
									}

									for(var d=0; d<tt; d++){
										
										if(d==0){ 

									%>

										<tr class="active licitacion" id=<%-d%> onclick="magia(this);" >
											<td><%-data.extra.top_licitaciones[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_licitaciones[d].monto%></span></td>
										</tr>

									<% } 
									else { %>
											
										<tr class="licitacion" id=<%-d%> onclick="magia(this);" >
											<td><%-data.extra.top_licitaciones[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_licitaciones[d].monto%></span></td>
										</tr>
									<%}%><!-- Cierre else -->
									
									<%}%><!-- Cierre for -->

								</tbody>
							</table>															
						</div>


						<div class="col-md-6">
							
							<div class="panel panel-inverted panel-drkblue">

								<div class="panel-heading">
									<span class="info-tag">Título licitación</span>

									<div>
										<h4 class="collapsable-text" ><i class="fa fa-angle-double-right"></i><em id="nombre_lic"><%-data.extra.top_licitaciones[0].nombre%></em></h4>
										<span>Código: <span id="code_lic"><%-data.extra.top_licitaciones[0].codigo%></span></span>
									</div>
								</div>
								<div class="panel-body">
									

									<div class="row">
										<div class="col-md-12">
											<span class="numformat value">27</span>
											<p>Proveedores beneficiados</p>
										</div>
										<div class="col-md-12">
											<span class="numformat value clp" id="monto_lic"><%-data.extra.top_licitaciones[0].monto%></span>
											<p class="checkmillion">monto total</p>
										</div>
									</div>
									
								</div>

								<div class="panel-footer transparent no-border">
									<small><a id="link_lic" href=<%-"/file?type=licitacion&code="+data.extra.top_licitaciones[0].codigo %>>Ir a ficha de licitación <i class="fa fa-arrow-circle-right"></i></a></small>
								</div>

							</div>
						</div>
					</div>
				</div>
				<% } %>

				<!--==============================-->
				<!-- Proveedores más beneficiados -->
				<!--==============================-->

				<% if(data.extra.top_proveedores.length == 0){ %>
					
					<div class="panel-body">

						<div class="legend">
							<h4>Proveedores más beneficiados</h4>
						</div>

						<div class="flex-wrapper daslaf">
							<ul class="list-unstyled filter-list transparent no-filters">
								<li class="text-center no-filters"><i class="fa fa-frown-o"></i> ¡Oops! No hay información asociada</li>
							</ul>
						</div>

					</div>

				<% }

				else { %>
					
					<div class="panel-body">
						<div class="legend">
							<h4>Proveedores más beneficiados</h4>
							<p>Lista de los proveedores más beneficiados desde Enero de 2013</p>
						</div>

						<div class="row" id="provmasbeneficiados">
							<!-- Lista de proveedores -->
							<div class="col-md-6">
								<table class="table postulant-list clickable-table">
									<thead>
										<td>Nombre</td>
										<td>Total facturado</td>
									</thead>
								<tbody>

									<% 	

									var tt = 10;
									
									if(data.extra.top_proveedores.length < tt){
										tt = data.extra.top_proveedores.length;
									}

									for(var d=0; d<tt; d++){
									
										if(d==0){ 

									%>

										<tr class="active proveedor" id=<%-d%> onclick="magia2(this);" >
											<td><%-data.extra.top_proveedores[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_proveedores[d].monto%></span></td>
										</tr>

									<% }
									else{ %>
										<tr class="proveedor" id=<%-d%> onclick="magia2(this);" >
											<td><%-data.extra.top_proveedores[d].nombre%></td>
											<td><span class="numformat clp"><%-data.extra.top_proveedores[d].monto%></span></td>
										</tr>
									<%}%><!-- Cierre else -->
									
									<%}%><!-- Cierre for -->
																									
								</tbody>
							</table>
							</div>

							<!-- Show de proveedor seleccionado -->
							<div class="col-md-6">
								<div class="panel panel-inverted panel-drkblue">
									<div class="panel-heading">
										<span class="info-tag">Nombre Proveedor</span>
								
										<div>
											<h4 class="collapsable-text" id="nombre_pro"><i class="fa fa-angle-double-right"></i><%-data.extra.top_proveedores[0].nombre%></h4>
											<span>Sucursal: <span id="code_pro"><%-data.extra.top_proveedores[0].id%></span></span>
											<span class="slash">RUT: <span id="rut_pro"><%-data.extra.top_proveedores[0].rut%></span></span>
										</div>
									</div>

									<div class="panel-body">							

										<div class="row">
											<div class="col-md-12">
												<span class="numformat value clp" id="monto_pro"><%-data.extra.top_proveedores[0].monto%></span>
												<p class="checkmillion">Facturado en ventas</p>
											</div>
											<div class="col-md-12">
												<span class="numformat value clp">18500000</span>
												<p>por orden promedio</p>
											</div>
											<div class="col-md-12">
												<span class="numformat value">4</span>
												<p>organismos compradores</p>
											</div>
										</div>
										
										<br>

									</div>

									<div class="panel-footer transparent no-border">
											<small><a id="link_pro" href=<%-"/file?type=proveedor&code="+data.extra.top_licitaciones[0].id %>>Ir a ficha de proveedor <i class="fa fa-arrow-circle-right"></i></a></small>
									</div>

								</div>
							</div>
						</div>
					</div>	

				<%}%>

				<!--========================-->
				<!-- Todas las licitaciones -->
				<!--========================-->

				<div class="panel-body">
					<div class="legend">
						<h4>Todas las licitaciones</h4>
						<p>Lista de todos los llamados a licitación realizados en el período de [período]</p>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<table class="table postulant-list">
								<thead>
									<td>Nombre</td>
									<td>Fecha de Creación</td>
									<td>Estado</td>
									<td></td>
								</thead>
								<tbody>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
									<tr>
										<td>Insumos médicos y medicamentos</td>
										<td>20-01-2014</td>
										<td>Adjudicada</td>
										<td><a href="#">Ver ficha <i class="fa fa-arrow-circle-right"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-12">
							<div class="pull-left">
								<p class="pagination-text">
								Viendo <span>10</span> de <span>25</span> resultados
								</p>
							</div>
							<div class="pull-right">
								<% include pagination %>
							</div>	
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>	
</div>