<script type='text/javascript'>
  var n_item =<%-JSON.stringify(data.n_items)%>;
  var ele =<%-JSON.stringify(code)%>;
  console.log(<%- JSON.stringify(data) %>);
</script>

<div class="row">
	
	<div class="col-md-4 pull-right pull-resp">
		<div class="fixed-container">
			<div class="panel panel-color fich">

				<!-- Panel Organismo Licitador -->
				<div class="panel-heading no-margin">
					<h5>Organismo Licitador</h5>	
				</div>

				<div class="panel-body no-margin">
					<div class="marg30">
						<span class="info-tag">Información Organismo</span>
						<div>
							<h5><%- data.organismo.nombre %></h5>
							<ul class="list-unstyled">
								<li>Código: <%- data.organismo.id %></li>
							</ul>
						</div>
					</div>

					<div class="marg30">
						<span class="info-tag">Información Unidad</span>
						<div>
							<h5><%- data.unidad.nombre %></h5>
							<ul class="list-unstyled">
								<li>RUT: <%- data.unidad.rut %></li>
								<li><%- data.unidad.direccion %>, <%- data.unidad.comuna %>, <%- data.unidad.region %></li>
							</ul>
						</div>
					</div>	

					<div class="marg30">
						<span class="info-tag">Responsable Pago</span>
						<ul class="list-unstyled">
							<li><i class="fa fa-user"></i><%- data.responsable_pago.nombre || "-" %></li>
							<li><i class="fa fa-envelope"></i><%- data.responsable_pago.email || "-" %></li>
						</ul>
					</div>

					<div class="marg30">
						<span class="info-tag">Responsable Contrato</span>
						<ul class="list-unstyled">
							<li><i class="fa fa-user"></i><%- data.responsable_contrato.nombre || "-" %></li>
							<li><i class="fa fa-envelope"></i><%- data.responsable_contrato.email || "-" %></li>
							<li><i class="fa fa-phone"></i><%- data.responsable_contrato.telefono || "-" %></li>
						</ul>
					</div>
				</div>

				<div class="panel-footer no-margin transparent no-border">
					<p>
						<small><a class="btn btn-compras full-width" href=<%-"/file?type=organismo&code="+data.organismo.id %>>Ir a ficha de organismo <i class="fa fa-arrow-circle-right"></i></a></small>
					</p>
				</div>

			</div>

		</div>

		<div class="panel panel-color fich">

			<div class="panel-heading no-margin">
				<h5>Fechas Importantes</h5>
				<% 	
					var cierre;
					var apertura;
					var creacion;
					var adjudicacion;
					var temp = new Date(data.fecha_cierre);
					cierre = temp.getDate()+'-'+(temp.getMonth()+1)+'-'+temp.getFullYear();
					var temp2 = new Date(data.fecha_creacion);
					creacion = temp2.getDate()+'-'+(temp2.getMonth()+1)+'-'+temp2.getFullYear();
					var temp3 = new Date(data.fecha_adjudicacion);
					adjudicacion = temp3.getDate()+'-'+(temp3.getMonth()+1)+'-'+temp3.getFullYear();
					var temp4 = new Date(data.fecha_inicio);
					apertura = temp4.getDate()+'-'+(temp4.getMonth()+1)+'-'+temp4.getFullYear();
				%>
			</div>


			<div class="panel-body">
				<ul class="list-unstyled">
					<li class="margin-bottom">
						<span>Creación: <%-creacion%></span>
					</li>
					<li class="margin-bottom">
						<span>Apertura: <%-apertura%></span>
					</li>
					<li class="margin-bottom">
						<span>Cierre: <%-cierre%></span>
					</li>
					<li class="margin-bottom">
						<span>Adjudicación: <%-adjudicacion%></span>
					</li>
				</ul>
			</div>
		</div>	
	</div>

	<div class="col-md-8">


		<section class="panel panel-default fich licitacion">

			<!-- <div class="embed-stuff">
			  <button type="button" class="btn" data-toggle="modal" data-target="#myModal">
			    <i class="fa fa-share-square-o"></i> <span>Embeber contenido</span>
			  </button>
			</div> -->

			<!--<div class="embed-stuff tomercado">
				<a class="btn" href="#" target="_blank">
	    			<span>Ver en mercado público</span>
	  			</a>
  			</div>-->

			<% if(data.adjudicacion != null){ %>
				<div class="embed-stuff tomercado">
				<a class="btn" href="<%- data.adjudicacion.acta %>" target="_blank">
	    			<span>Ver en mercado público</span>
	  			</a>
  			</div>
			<% } %>

			<div class="panel-body">
				
				<div class="legend">
					<i class="fa fa-file-text-o back-icon"></i>
					<h4 class="super-title duper"><i class="fa fa-file-text-o"></i>Ficha de <strong>Licitación</strong></h4>
					<h4 class="bigger collapsable-text"><%- data.nombre %></h4>
					<span>Código: <%- data.codigo %></span>
					<p class="lic-des"><strong>Descripción:</strong> <%- data.descripcion %></p>
				</div>


				<% var estado;
					if(data.estado==5){
						estado = "Publicada";
					}
					else if(data.estado==6){
						estado = "Cerrada";
					}
					else if(data.estado==7){
						estado = "Desierta";
					}
					else if(data.estado==18){
						estado = "Revocada";
					}
					else if(data.estado==19){
						estado = "Suspendida";
					}
					else if(data.estado==8){
						estado = "Adjudicada";
					}
					else{
						estado = "Sin Estado"
					}
				%>
				
				<div class="panel panel-inverted">

					<!-- Licitación status --> 
					<span class="licitacion-status"><%-estado%></span>
					
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<%
									var y = data.n_items;
									if(data.adjudicacion!=null){
										var x = data.adjudicacion.n_items;
										var total = data.adjudicacion.monto;
										

									}else{
										var total = 0;
										var x = 0;
									}
								%>
								<span class="value "><%- x + "/" + y %></span>
								<p>items adjudicados</p>
							</div>

							<div class="col-sm-4 text-center text-resp">
								<span class="numformat value clp"><%- total %></span>
								<p>monto total</p>
							</div>
						</div>
						
					</div>

				</div>

				<div>
					<ul class="list-unstyled adj-list" id="itemsdetalle">
		
							<% include itemdetalle %>
					
					</ul>

					<div id="itempag"></div>
				
				</div>

			</div>



		</section>
	</div>

</div>	

<% include embedeitor %>

<script type="text/javascript" charset="utf-8" src="javascripts/paginator-item.js"></script>
