<script type='text/javascript'>
  var n_item =<%-JSON.stringify(data.n_items)%>;
  var ele =<%-JSON.stringify(code)%>;
</script>

<div class="row">
	
	<div class="col-md-4 pull-right pull-resp">
		<div class="panel panel-color fich">

			<!-- Panel Organismo Licitador -->
			<div class="panel-heading no-margin">
				<h5>Organismo Licitador</h5>	
			</div>

			<div class="panel-body no-margin">
				<div>	
					<span class="info-tag">Información Organismo</span>
					<div>
						<h5><%- data.comprador.nombre_unidad %></h5>
						<ul class="list-unstyled">
							<li>Código: <%- data.comprador.codigo_unidad %></li>
						</ul>
					</div>
				</div>

				<div>	
					<span class="info-tag">Información Unidad</span>
					<div>
						<h5><%- data.comprador.nombre_comprador %></h5>
						<ul class="list-unstyled">
							<li>Código: <%- data.comprador.codigo_comprador %></li>
							<li>RUT: <%- data.comprador.rut_usuario %></li>
							<li><%- data.comprador.direccion_unidad %>, <%- data.comprador.comuna_unidad %>, <%- data.comprador.region_unidad %></li>
						</ul>
					</div>
				</div>	

				<div>
					<span class="info-tag">Responsable Pago</span>
					<ul class="list-unstyled">
						<li><i class="fa fa-user"></i><%- data.nombre_responsable_pago || "-" %></li>
						<li><i class="fa fa-envelope"></i><%- data.email_responsable_pago || "-" %></li>
					</ul>
				</div>

				<div>
					<span class="info-tag">Responsable Contrato</span>
					<ul class="list-unstyled">
						<li><i class="fa fa-user"></i><%- data.nombre_responsable_contrato || "-" %></li>
						<li><i class="fa fa-envelope"></i><%- data.email_responsable_contrato || "-" %></li>
						<li><i class="fa fa-phone"></i><%- data.telefono_responsable_contrato || "-" %></li>
					</ul>
				</div>
			</div>

			<div class="panel-footer no-margin transparent no-border">
				<p>
					<small><a href=<%-"/file?type=organismo&code="+data.comprador.id %>>Ir a ficha de organismo <i class="fa fa-arrow-circle-right"></i></a></small>
				</p>
			</div>

		</div>

		<div class="panel panel-color fich">

			<div class="panel-heading no-margin">
				<h5>Fechas Importantes</h5>
 
			<% 	var cierre;
				var apertura;
				var creacion;
				var adjudicacion;
				var temp = new Date(data.fecha_cierre);
				cierre = temp.getDate()+'-'+temp.getMonth()+'-'+temp.getFullYear();
				var temp2 = new Date(data.fecha_creacion);
				creacion = temp2.getDate()+'-'+temp2.getMonth()+'-'+temp2.getFullYear();
				var temp3 = new Date(data.fecha_adjudicacion);
				adjudicacion = temp3.getDate()+'-'+temp3.getMonth()+'-'+temp3.getFullYear();
				var temp4 = new Date(data.fecha_acto_apertura_economica);
				apertura = temp4.getDate()+'-'+temp4.getMonth()+'-'+temp4.getFullYear();
				%>
			</div>

			<div class="panel-body">
				<ul class="list-unstyled">
				<li class="margin-bottom">
					<span>Apertura: <%-apertura%></span>
				</li>
				<li class="margin-bottom">
					<span>Creación: <%-creacion%></span>
				</li>
				<li class="margin-bottom">
					<span>Cierre: <%-cierre%></span>
				</li>
				<li class="margin-bottom">
					<span>Adjudicación: <%-adjudicacion%></span>
				</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-8">


		<section class="panel panel-default fich licitacion">

			<% include embedeitor %>

			<div class="panel-body">
				
				<div class="legend">
					<h4>Información de licitación</h4>
					<br>
				</div>

				<span class="info-tag">Título </span>
				
				<div>
					<h4 class="collapsable-text"><%- data.nombre %></h4>
					<span>Código: <%- data.codigo %></span>
					<p class="lic-des"><%- data.descripcion %></p>
				</div>

				<% var estado;
					if(data.estados[0].estado==5){
						estado = "Publicada";
					}
					if(data.estados[0].estado==6){
						estado = "Cerrada";
					}
					if(data.estados[0].estado==7){
						estado = "Desierta";
					}
					if(data.estados[0].estado==18){
						estado = "Revocada";
					}
					if(data.estados[0].estado==19){
						estado = "Suspendida";
					}
					if(data.estados[0].estado==8){
						estado = "Adjudicada";
					}
				%>

				<span class="info-tag">Adjudicación </span>
				
				<div class="panel panel-inverted">

					<!-- Licitación status --> 
					<span class="licitacion-status"><%-estado%></span>
					
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4">
								<%
									var y = data.n_items;
									var x = 0;
									var total = 0;
									for(var e=0;e<data.items.length;e++){
										if(data.items[e].adjudicacion != null){
											x++;
											total = total + data.items[e].adjudicacion.monto_unitario*data.items[e].adjudicacion.cantidad;
										}
									}
								%>
								<span class="numformat value"><span><%- x %></span>/<span><%- y %></span></span>
								<p>items adjudicados</p>
							</div>

							<div class="col-sm-4 text-center text-resp">
								<span class="numformat value clp"><%- total %></span>
								<p>monto total</p>
							</div>
						</div>
						
					</div>

				</div>

				<div>
					<ul class="list-unstyled adj-list" id="itemsdetalle">
		
							<% include itemdetalle %>
					
					</ul>

					<div id="itempag"></div>
				
				</div>

			</div>



		</section>
	</div>

</div>	
			<script type="text/javascript" charset="utf-8" src="javascripts/paginator-item.js"></script>
