<script type='text/javascript'>
  var pro =<%-JSON.stringify(pro)%>
  var cat =<%-JSON.stringify(cat)%>
  var lic =<%-JSON.stringify(lic)%>  
</script>
<section class="container no-margin">

	<div class="panel panel-transparent panel-searchbar-home">
		<% include basicsearchbar %>
		<p class="text-center">Compras Transparentes es una herramienta para explorar  las transacciones entre el Estado de Chile y las empresas, las cuales se efectúan a través de la plataforma de compras públicas <a href="http://www.mercadopublico.cl" target="_blank" class="alt-link">www.mercadopublico.cl</a>.</p>
	</div>

	<!-- Sumario -->
	<div class="panel panel-default stats">
		<div class="panel-heading">
			<h1 class="super-title">Estadísticas Generales</h1>
		</div>
		<div class="panel-body">
			
			<p class="small-lead">Información de licitaciones y transacciones realizadas por Organismos Públicos del Estado de Chile, recopilada desde Enero de 2013.</p>

			<span class="info-tag"></span>

			<div class="panel panel-inverted no-margin">
				<div class="panel-body">
					
					<div class="flex-wrapper">
						<div class="info-box2">
							<span class="numformat value clp" ><%-data.monto_transado%></span>
							<p>Transado en licitaciones</p>
						</div>
						<div class="info-box2 text-right text-resp">
							<span class="numformat value"><%-data.n_licitaciones%></span>
							<p>Licitaciones Publicadas</p>
						</div>
						<div class="info-box2">
							<span class="numformat value"><%-data.n_organismos%></span>
							<p>Organismos licitando</p>
						</div>
						<div class="info-box2 text-right text-resp">
							<span class="numformat value"><%-data.n_proveedores%></span>
							<p>Proveedores participando</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- /Sumario -->

	<!-- Gráfico 1 -->
	<div class="panel panel-default stats">
		<div class="panel-heading">
			<h1 class="super-title">Distribución del gasto público</h1>
		</div>
		<div class="panel-body">

			<p class="small-lead">Distribución del gasto público del Estado de Chile a nivel de ministerios.</p>

			<div class="grafico">
				<div id="chart">
					<div id="explanation" style="visibility: hidden;">
				        <p>  
				          <span id="percentage"></span><br/>
				          del dinero es licitado por
				          <div id="name_cat"></div>
				        </p>  
			        </div>
				</div>


			</div>
		</div>
	</div>
	<!-- /Gráfico 1 -->


</section>