<script type='text/javascript'>
  var pro =<%-JSON.stringify(pro)%>
  var cat =<%-JSON.stringify(cat)%>
  var lic =<%-JSON.stringify(lic)%>  
</script>
<section class="container no-margin">

	<div class="panel panel-transparent panel-searchbar-home">
		<% include basicsearchbar %>
		<p class="text-center">Compras Transparente es una herramienta para explorar  las transacciones entre el Estado de Chile y las empresas, las cuales se efectúan a través de la plataforma de compras públicas <a href="http://www.mercadopublico.cl." class="alt-link">www.mercadopublico.cl</a></p>
	</div>

	<div class="panel panel-default stats">
		<div class="panel-heading">
			<h1 class="super-title">Estadísticas</h1>
		</div>
		<div class="panel-body">
			
			<p class="small-lead">Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>

			<span class="info-tag"></span>

			<div class="panel panel-inverted no-margin">
				<div class="panel-body">
					
					<div class="flex-wrapper">
						<div class="info-box2">
							<span class="numformat value clp" ><%-data.monto_transado%></span>
							<p>Transado en licitaciones</p>
						</div>
						<div class="info-box2 text-right text-resp">
							<span class="numformat value"><%-data.n_licitaciones%></span>
							<p>licitaciones adjudicadas</p>
						</div>
						<div class="info-box2">
							<span class="numformat value"><%-data.n_organismo%></span>
							<p>Organismo licitando</p>
						</div>
						<div class="info-box2 text-right text-resp">
							<span class="numformat value"><%-data.n_proveedores%></span>
							<p>Proveedores participando</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Gráfico 1 -->
	<div class="panel panel-default stats">
		<div class="panel-heading">
			<h1 class="super-title">Distribución del gasto público por ministerio </h1>
		</div>
		<div class="panel-body">

			<p class="small-lead">Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>

			<div class="grafico">
				<div id="chart">
					<div id="explanation" style="visibility: hidden;">
				        <p>  
				          <span id="percentage"></span><br/>
				          del dinero es licitado por
				          <div id="name_cat"></div>
				        </p>  
			        </div>
				</div>


			</div>
		</div>
	</div>
	<!-- Gráfico 1 -->

	<!-- Slider de rankings -->
	<div class="panel panel-default stats">
		<div class="panel-body ltblue-back no-padding">

			<div id="carousel-rankings" class="carousel  slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-rankings" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-rankings" data-slide-to="1"></li>
			    <li data-target="#carousel-rankings" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <!-- Ranking 1 -->
			    <!-- Proveedores más beneficiados -->
			    <div class="item active">
						<div class="panel-heading">
							<h4 class="ranking-name">Proveedores más beneficiados</h4>
						</div>
			      	<div class="panel-body">
						<div class="ranking-filter hidden">
							<form>
								<select class="selector flat standard">
									<option>Todas las regiones</option>
									<option>Región 1</option>
									<option>Región 2</option>
									<option>Región 3</option>
									<option>Región 4</option>
								</select>
								<select class="selector flat no-search">
									<option>Histórico</option>
									<option>1er semestre 2015</option>
									<option>2do semestre 2014</option>
									<option>1er semestre 2014</option>
									<option>2do semestre 2013</option>
									<option>1er semestre 2013</option>
								</select>
								<button class="btn btn-default btn-compras-transparentes pull-right">Filtrar</button>
							</form>
						</div>
						<p class="small-lead">Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>
						<div class="highlighted-vendor">
							<div class="flex-wrapper no-wrap no-margin">
								<div class="medal-container"><span id="rank_pro">1</span></div>
								<div class="info-container">
									<div class="row">
										<div class="col-md-8">
											<span class="info-tag">Proveedor</span>
											<h3 class="ranking-title" id="name_pro"><i class="fa fa-angle-double-right"></i><%-pro.top_proveedores[0].nombre%></h3>
											<span>RUT: <%-pro.top_proveedores[0].rut%></span>
										</div>
										<div class="col-md-4 ammount-container text-right text-resp">
											<span class="info-tag">Monto en pesos</span>
											<h3 class="numformat ranking-title clp" id="cash_pro"><%-pro.top_proveedores[0].monto%></h3>
											<span>total facturado</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-right text-resp med">
											<a href=<%-"/file?type=proveedor&code="+pro.top_proveedores[0].id%> id="link_pro">Ver detalle <i class="fa fa-arrow-circle-right" ></i></a>
										</div>
									</div>
								</div>
							</div>
							<br>
							<table class="table ranking-list clickable-table">
								<tbody>
									<%for(var y=0; y< pro.top_proveedores.length;y++){ 
										if(y==0){%>

									<tr class="active" id=<%-y%> onclick="magia3(this);">
									<%}else{%>
									<tr id=<%-y%> onclick="magia3(this);">
									<%}%>
										<td><span class="index-sign"><%- y+1 %></span></td>
										<td><%-pro.top_proveedores[y].nombre%></td>
										<td><span class="numformat clp"><%-pro.top_proveedores[y].monto%></span></td>

									</tr>
									<%}%>
																									
								</tbody>
							</table>
						</div>
					</div>
			    </div>
			    <!-- Ranking 2 -->
			    <!-- Licitaciones más cuantiosas -->
			    <div class="item">
						<div class="panel-heading">

							<h4 class="ranking-name">Licitaciones más cuantiosas</h4>
						</div>
			    	<div class="panel-body">
						<div class="ranking-filter hidden">
							<form>
								<select class="selector flat standard">
									<option>Todas las regiones</option>
									<option>Región 1</option>
									<option>Región 2</option>
									<option>Región 3</option>
									<option>Región 4</option>
								</select>
								<select class="selector flat no-search">
									<option>Histórico</option>
									<option>1er semestre 2015</option>
									<option>2do semestre 2014</option>
									<option>1er semestre 2014</option>
									<option>2do semestre 2013</option>
									<option>1er semestre 2013</option>
								</select>
								<button class="btn btn-default btn-compras-transparentes pull-right">Filtrar</button>
							</form>
						</div>
						<p class="small-lead">Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>
						<div class="highlighted-vendor">
							<div class="flex-wrapper no-wrap no-margin">
								<div class="medal-container"><span id="rank_lic">1</span></div>
								<div class="info-container">
									<div class="row">
										<div class="col-md-8">
											<span class="info-tag">Licitación</span>
											<h3 class="ranking-title" id="name_lic"><i class="fa fa-angle-double-right"></i><%-lic.top_licitaciones[0].nombre%></h3>
											<span id="code_lic">Código: <%-lic.top_licitaciones[0].codigo%></span>
										</div>
										<div class="col-md-4 ammount-container text-right text-resp">
											<span class="info-tag">Monto en pesos</span>
											<h3 class="numformat ranking-title clp" id="cash_lic"><%-lic.top_licitaciones[0].monto%></h3>
											<span>total transado</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-right text-resp med">
											<a href=<%-"/file?type=licitacion&code="+lic.top_licitaciones[0].codigo%> id="link_lic">Ver detalle <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<br>
							<table class="table ranking-list clickable-table">
								<tbody>
									<%for(var y=0; y< lic.top_licitaciones.length;y++){ 
										if(y==0){%>

									<tr class="active" id=<%-y%> onclick="magia4(this);">
									<%}else{%>
									<tr id=<%-y%> onclick="magia4(this);">
									<%}%>
										<td><span class="index-sign"><%- y+1 %></span></td>
										<td><%- lic.top_licitaciones[y].nombre%></td>
										<td><span class="numformat clp"><%- lic.top_licitaciones[y].monto%></span></td>

									</tr>
									<%}%>																			
								</tbody>
							</table>
						</div>
					</div>
			    </div>
			    <!-- Ranking 3 -->
			    <!-- Categorías en las que se gasta más -->
			    <div class="item">
						<div class="panel-heading">

							<h4 class="ranking-name">Categorías en las que más se gasta</h4>
						</div>
			    	<div class="panel-body">
						<div class="ranking-filter hidden">
							<form>
								<select class="selector flat no-search">
									<option>Histórico</option>
									<option>1er semestre 2015</option>
									<option>2do semestre 2014</option>
									<option>1er semestre 2014</option>
									<option>2do semestre 2013</option>
									<option>1er semestre 2013</option>
								</select>
								<button class="btn btn-default btn-compras-transparentes pull-right">Filtrar</button>
							</form>
						</div>
						<p class="small-lead">Información de licitaciones y estadísticas recopilada desde Enero de 2013</p>
						<div class="highlighted-vendor">
							<div class="flex-wrapper no-wrap no-margin">
								<div class="medal-container"><span id="rank_cat">1</span></div>
								<div class="info-container">
									<div class="row">
										<div class="col-md-8">
											<span class="info-tag">Categoría</span>
											<h3 class="ranking-title" id="name_cate"><i class="fa fa-angle-double-right"></i><%-cat.top_categorias[0].categoria%></h3>
										</div>
										<div class="col-md-4 ammount-container text-right text-resp">
											<span class="info-tag">Monto en pesos</span>
											<h3 class="numformat ranking-title clp" id="cash_cat"><%-cat.top_categorias[0].monto%></h3>
											<span>total transado</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-right text-resp med">
											<a href="#">Ver detalle <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<br>
							<table class="table ranking-list clickable-table">
								<tbody>

									<%for(var y=0; y< cat.top_categorias.length;y++){ 
										if(y==0){%>

									<tr class="active" id=<%-y%> onclick="magia5(this);">
									<%}else{%>
									<tr id=<%-y%> onclick="magia5(this);">
									<%}%>
										<td><span class="index-sign"><%- y+1 %></span></td>
										<td><%- cat.top_categorias[y].categoria%></td>
										<td><span class="numformat clp"><%- cat.top_categorias[y].monto%></span></td>

									</tr>
									<%}%>
																													
								</tbody>
							</table>
						</div>
					</div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-rankings" role="button" data-slide="prev">
			    <span class="fa fa-angle-left" aria-hidden="true"></span>
			    <span class="sr-only">Anterior</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-rankings" role="button" data-slide="next">
			    <span class="fa fa-angle-right" aria-hidden="true"></span>
			    <span class="sr-only">Siguiente</span>
			  </a>
			</div>
		</div>
	</div>
	<!--Fin slider de rankings -->

</section>