<%
if(lic.licitaciones.length == 0 && na == 'search') { 
%>

	<% include noresults %>

<%	

} else {

%> 
<!-- 	<div class="results-filter" style="display:none;">

		<form action="filter" method="get">

			<input type="hidden" name="q" value=<%-element%>>

			<h5>Filtrar resultados</h5>	
			<div class="row narrow">
				<div class="col col-xs-12 col-sm-6 col-md-3">
					<select class="selector standard flat full-width" name="plic">
						<%if(producto==""){%>
							<option selected="" value="">Todos los productos</option>	
							<% for (var s=0; s<min.item.length; s++ ){%>
							<option value=<%-min.item[s].code%>><%-min.item[s].name%></option>
							<%}
						}else{%>
							<option value="">Todos los productos</option>	
							<% for (var s=0; s<min.item.length; s++ ){
								if(producto==min.item[s].code){%>
								<option selected="" value=<%-min.item[s].code%>><%-min.item[s].name%></option>
								<%}else{%>
								<option value=<%-min.item[s].code%>><%-min.item[s].name%></option>
								<%}
								}
							}%>
					</select>
				</div>	
				<div class="col col-xs-12 col-sm-6 col-md-3">
					<select class="selector standard flat full-width" name="elic">
					<%if(estado==5){%>
						<option value="">Todos los estados de licitación</option>
						<option selected="" value="5">Publicada</option>
						<option value="6">Cerrada</option>
						<option value="8">Adjudicada</option>
						<option value="18">Revocada</option>
						<option value="19">Suspendida</option>
					<%}else if(estado==6){%>
						<option value="">Todos los estados de licitación</option>
						<option value="5">Publicada</option>
						<option selected="" value="6">Cerrada</option>
						<option value="8">Adjudicada</option>
						<option value="18">Revocada</option>
						<option value="19">Suspendida</option>
					<%}else if(estado==8){%>
						<option value="">Todos los estados de licitación</option>
						<option value="5">Publicada</option>
						<option value="6">Cerrada</option>
						<option selected="" value="8">Adjudicada</option>
						<option value="18">Revocada</option>
						<option value="19">Suspendida</option>
					<%}else if(estado==18){%>
						<option value="">Todos los estados de licitación</option>
						<option value="5">Publicada</option>
						<option value="6">Cerrada</option>
						<option value="8">Adjudicada</option>
						<option selected="" value="18">Revocada</option>
						<option value="19">Suspendida</option>
					<%}else if(estado==19){%>
						<option value="">Todos los estados de licitación</option>
						<option value="5">Publicada</option>
						<option value="6">Cerrada</option>
						<option value="8">Adjudicada</option>
						<option value="18">Revocada</option>
						<option selected="" value="19">Suspendida</option>
					<%}else{%>
						<option selected="" value="">Todos los estados de licitación</option>
						<option value="5">Publicada</option>
						<option value="6">Cerrada</option>
						<option value="8">Adjudicada</option>
						<option value="18">Revocada</option>
						<option value="19">Suspendida</option>
					<%}%>
					</select>
				</div>
				<div class="col col-xs-12 col-sm-12 col-md-6">
					<div class="input-group monto">
					  <span class="input-group-addon small"><i class="fa fa-usd"></i></span>
					  <input type="text" class="a form-control" placeholder="Desde" name="alic" value=<%-montoi%>>
					  <input type="text" class="form-control" placeholder="Hasta" name="xlic" value=<%-montoe%>>
					</div>
				</div>
			</div>
			<div class="row narrow">
				<div class="col col-sm-6 col-md-3">
					<select class="selector dateselector no-search flat full-width" name="tlic">
					<%if(tipo=="fecha_publicacion"){%>
						<option value="">Seleccione tipo de fecha</option>
						<option select=""  value="fecha_publicacion">Fecha de Publicación</option>
						<option value="fecha_adjudicacion">Fecha de Adjudicación</option>
						<option value="fecha_creacion">Fecha de Creación</option>
					<%}else if(tipo=="fecha_adjudicacion"){%>
						<option value="">Seleccione tipo de fecha</option>
						<option value="fecha_publicacion">Fecha de Publicación</option>
						<option select=""  value="fecha_adjudicacion">Fecha de Adjudicación</option>
						<option value="fecha_creacion">Fecha de Creación</option>
					<%}else if(tipo=="fecha_creacion"){%>
						<option value="">Seleccione tipo de fecha</option>
						<option value="fecha_publicacion">Fecha de Publicación</option>
						<option value="fecha_adjudicacion">Fecha de Adjudicación</option>
						<option select="" value="fecha_creacion">Fecha de Creación</option>
					<%}else{%>
						<option select="" value="">Seleccione tipo de fecha</option>
						<option value="fecha_publicacion">Fecha de Publicación</option>
						<option value="fecha_adjudicacion">Fecha de Adjudicación</option>
						<option value="fecha_creacion">Fecha de Creación</option>
					<%}%>
					</select>
				</div>
			</div>
			<div class="datetarget row narrow">
				<div class="col col-sm-6" id="fecha">
					<p>Fecha</p>
					<div class="datepicker-group">
						<div class="form-group">
			                <div class='input-group date' id='picker1'>
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                    <input type='text' class="form-control" name="filic" value=<%-fecha_creacioni%>/>
			                </div>
			            </div>
						<div class="form-group elmedio">
							<p>entre</p>
						</div>
						<div class="form-group">
			                <div class='input-group date' id='picker2'>
			                    <input type='text' class="form-control" name="felic" value=<%-fecha_creacione%> />
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
				</div>
			</div>
			<div class="row narrow">
				<div class="col col-md-12">
					<button class="btn btn-compras-transparentes pull-right">Filtrar</button>
				</div>	
			</div>
		</form>
	</div> -->
<%

for(var w=0; w<lic.licitaciones.length; w++) { %>
	<div class="search-result-item" code=<%-w%> type="lic" visibility="visible">
		<h4 class="collapsable-text"><a class="long-text" namelinklic=<%-w%> href=<%-"/file?type=licitacion&code="+lic.licitaciones[w].id%>><%-lic.licitaciones[w].nombre%></a><button class="btn more-text">...</button></h4>
		<a linkorglic=<%-w%> href=<%-"/file?type=organismo&code="+lic.licitaciones[w].organismo.id%>><p class="org-name" nameorglic=<%-w%>><%-lic.licitaciones[w].organismo.nombre%><i class="fa fa-arrow-circle-right"></i></p></a>
		<p class="lic-des" deslic=<%-w%> ><%-lic.licitaciones[w].descripcion%></p>
	</div>
<% }}  %>