<% for(var w=0; w<org.organismos.length; w++) { %>
<div class="search-result-item">
	<h4 class="collapsable-text"><a href=<%-"/file?type=organismo&code="+org.organismos[w].id%> class="long-text"><%-org.organismos[w].nombre%></a></h4>
	<p class="org-name inline"><%-org.organismos[w].nombre%></p>
	<!--<p class="org-name inline"><%-org.organismos[w].rut%></p>-->
	<!-- <p class="lic-des"><%-org.organismos[w].direccion_unidad%>, <%-org.organismos[w].comuna_unidad%>, <%-org.organismos[w].region_unidad%></p> -->
</div>
<% }%>