<script type='text/javascript'>
  var n_lic =<%-JSON.stringify(NumeroRegistros)%>;
  var n_pro =<%-JSON.stringify(NumeroRegistros)%>;
  var n_org =<%-JSON.stringify(NumeroRegistros)%>;
  var ele =<%-JSON.stringify(element)%>;
  var producto =<%-JSON.stringify(producto)%>;
  var estado =<%-JSON.stringify(estado)%>;
  var tipo_fecha =<%-JSON.stringify(tipo)%>;
  var fecha_creacioni =<%-JSON.stringify(fecha_creacioni)%>;
  var fecha_creacione =<%-JSON.stringify(fecha_creacione)%>;
  var montoi =<%-JSON.stringify(montoi)%>;
  var montoe =<%-JSON.stringify(montoe)%>;

 
</script>

<section class="container">



	<%
		if(elGatito==true) {
		%>
	<div class="compras-transparentes buscador-transparente">
		<p class="text-center parrafo-buscador">Selecciona el elemento que deseas buscar y realiza una búsqueda por texto. Agrega los filtros correspondientes a cada elemento para encontrar resultados más específicos y ajustados a tus necesidades.</p>
		<% include searchbar %>
	</div>
	<div class="panel panel-default results-panel" style="display:none;">
		<div class="panel-body">

			<h3>
				Resultados de Búsqueda:
					<span></span>
					<span></span>
					<span></span>
			</h3>
			<ul class="list-unstyled search-result-description">

				<li >
					<span>Mostrando resultados de</span>
					<span><%- element %></span>
					<span class="no-margin">
						<em>Se encontraron <%- NumeroRegistros %> coincidencias</em>
					</span>
				</li>
	

			</ul>
			<div class="search-results-panel" id="search-results-panel">
		 	<!-- Tab panes -->
		  <div class="search-results-panel" id="search-results-panel">
		    
		    <!-- Licitaciones lista -->
		    <div role="tabpanel" class="tab-pane active" id="tipo1">		    
		    	<div id="pag1"></div><div id="pag3"></div><div id="pag4"></div>
		    </div>

		</div>
		 </div>
		</div>
	</div>
		 
		<%
		}
	else { %>
	
	<div class="compras-transparentes buscador-transparente">
		<p class="text-center parrafo-buscador">Selecciona el elemento que deseas buscar y realiza una búsqueda por texto. Agrega los filtros correspondientes a cada elemento para encontrar resultados más específicos y ajustados a tus necesidades.</p>
		<% include searchbar %>
		
	</div>
	
	<div class="panel panel-default results-panel">
		<div class="panel-body">

			<h3>
				Resultados de Búsqueda:
				<% if (TipoBusqueda == 1) {%>
					<span>Licitaciones</span>
				<% } %> 
				<% if (TipoBusqueda == 2) {%>
					<span>Organismos Públicos</span>
				<% } %> 
				<% if (TipoBusqueda == 3) {%>
					<span>Proveedores</span>
				<% } %> 
			</h3>
			<ul class="list-unstyled search-result-description">

				<li >
					<span>Mostrando resultados de</span>
					<span><%- element %></span>
					<span class="no-margin">
						<em>Se encontraron <%- NumeroRegistros %> coincidencias</em>
					</span>
				</li>
	

			</ul>

		  <!-- Tab panes -->
		  <div class="search-results-panel" id="search-results-panel">
		    
		    <!-- Licitaciones lista -->
		    <div role="tabpanel" class="tab-pane active" id="tipo1">

		    <% if(TipoBusqueda == 1){
		    	%>
		    	<% include searchresultlicitacion%>
		    	<div id="pag1"></div>

		     <% } %> 
		    	 
			<% if(TipoBusqueda == 2){
		    	%>
		    	<% include searchresultorg%>

		    	<div id="pag3"></div>

		     <% } %> 

		     <% if(TipoBusqueda == 3){
		    	%>
		    	<% include searchresultpro%>

		    	<div id="pag4"></div>
		     <% } %>

		    </div>

		    

		  </div>

		  <!-- Pagination 
			<nav class="pull-right">
			  <% include pagination %>
			</nav>
			-->
		</div>
	</div>

	<% } %>


<script type="text/javascript" charset="utf-8" src="javascripts/paginator-foot.js"></script>

</section>

<script type="text/javascript">
	$(function(){

		var TipoBusqueda = <%- JSON.stringify(TipoBusqueda)%>,
			categoria_aux =  <%- JSON.stringify((categoria_aux != null && categoria_aux != 0 ?  categoria_aux : null ))%>, 
			AliasBusqueda = "";

		$("#lookfor").val(TipoBusqueda).trigger("change");
		
		
		$(".searchbar-asdf").val(ele);

	

		//Activa Search desde ranking
		if(categoria_aux != null)
		{

			$(".se-pre-con").show();
			
			$(".filtro-licitacion").val(1).trigger("change");

			setTimeout(function(){
				$(".categoria-licitacion").val(categoria_aux).trigger("change");
				$(".btn-filtros").trigger("click");
				$(".btn-compras-transparentes").trigger("click");
			}, 2000);
			
			$(".se-pre-con").hide();

		}
	});

	
</script>