<%
if(lic.licitaciones.length == 0) { 
%>

	<% include noresults %>


<%	

} else {

%> 
	<div class="results-filter">

		<div class="row"></div>

		<select class="selector standard flat">
			<option selected="">Todos los productos</option>
			<option>Producto 1</option>
			<option>Producto 2</option>
		</select>

		<select class="selector standard flat">
			<option selected="">Todos los ministerios</option>
			<option>Ministerio 1</option>
			<option>Ministerio 2</option>
		</select>

		<select class="selector standard flat">
			<option selected="">Todos los Estados</option>
			<option>Estado 1</option>
			<option>Estado 2</option>
		</select>


		
	</div>
<%

for(var w=0; w<lic.licitaciones.length; w++) { %>
	<div class="search-result-item" code=<%-w%> type="lic" visibility="visible">
		<h4 class="collapsable-text"><a class="long-text" namelinklic=<%-w%> href=<%-"/file?type=licitacion&code="+lic.licitaciones[w].codigo%>><%-lic.licitaciones[w].nombre%></a><button class="btn more-text">...</button></h4>
		<a linkorglic=<%-w%> href=<%-"/file?type=organismo&code="+lic.licitaciones[w].organismo.id%>><p class="org-name" nameorglic=<%-w%>><%-lic.licitaciones[w].organismo.nombre%><i class="fa fa-arrow-circle-right"></i></p></a>
		<p class="lic-des" deslic=<%-w%> ><%-lic.licitaciones[w].descripcion%></p>
	</div>
<% }}  %>