<%
if(org.organismos.length == 0) { 
%>

	<% include noresults %>


<%	

} else {

%> 
	<div class="results-filter">

		<h5>Filtrar resultados</h5>	
		<div class="row narrow">
			<div class="col col-xs-12 col-sm-4">
			<select class="selector standard flat full-width">
				<option selected="">Todos os</option>
				<option>Producto 1</option>
				<option>Producto 2</option>
			</select>
			</div>	
			<div class="col col-xs-12 col-sm-4">
				<select class="selector standard flat full-width">
					<option selected="">Todos los Estados</option>
					<option>Estado 1</option>
					<option>Estado 2</option>
				</select>
			</div>
			<div class="col col-xs-12 col-sm-4">
				<input type="text" class="form-control" placeholder="alala" />
			</div>
		</div>
		<div class="row narrow">
			<div class="col col-md-12">
				<button class="btn btn-compras-transparentes pull-right">Filtrar</button>
			</div>	
		</div>
	</div>
<%

 for(var w=0; w<org.organismos.length; w++) { %>
<div class="search-result-item" code=<%-w%> type="org" visibility="visible">
	<h4 class="collapsable-text"><a namelinkorg=<%-w%> href=<%-"/file?type=organismo&code="+org.organismos[w].id%> class="long-text"><%-org.organismos[w].nombre%></a></h4>
	<p class="org-name inline" namecat=<%-w%>><%-org.organismos[w].categoria%></p>
</div>
<% }}%>